Repository imoken777/syllahub: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, tsc

eslint:
  run: npm run check:eslint -- --file {staged_files}

prettier:
  run: npx prettier --cache --check {staged_files}

tsc:
  run: npm run check:tsc

feat: Cloudflare環境設定を更新し、KV名前空間を追加
  cloudflare-env.d.ts
  open-next.config.ts
  wrangler.toml
Due: eslint, prettier, tsc

docs: READMEにマイ時間割機能の説明を追加し、プロジェクト構成を更新 [skip ci]
  README.md
Due: none

chore: html-to-imageパッケージを追加
  package-lock.json
  package.json
Due: none

feat: TimetableCellに削除ボタンのデータ属性を追加
  src/components/ui/TimetableGrid.tsx
Due: eslint, prettier, tsc

refactor: siteInfoをlayout.tsxから分離
  src/app/layout.tsx
  src/app/siteInfo.ts
Due: eslint, prettier, tsc

feat: HTML要素から画像を生成する関数を追加
  src/utils/elementImageGenerator.ts
Due: eslint, prettier, tsc

feat: ファイルをブラウザでダウンロードする関数を追加
  src/utils/downloadFile.ts
Due: eslint, prettier, tsc

feat: 時間割共有機能のためのユーティリティ関数を追加
  src/components/model/timetable/utils/convertCoursesToTimetableItems.ts
  src/components/model/timetable/utils/shareUtils.ts
Due: eslint, prettier, tsc

feat: 時間割共有機能のための新しいコンポーネントを追加
  src/components/model/timetable/TimetableDisplay.tsx
  src/components/model/timetable/TimetableSharePage.tsx
Due: eslint, prettier, tsc

feat:OGPをparamsによって付与
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint, prettier, tsc

fix: TimetableModalにDialogTitleとDialogDescriptionを追加
  src/components/model/timetable/TimetableModal.tsx
Due: eslint, prettier, tsc

chore: neverthrowとそのプラグインを導入
  .eslintrc.js
  package-lock.json
  package.json
Due: eslint

refactor: neverthrowを使用して画像生成のエラーハンドリングを改善
  src/components/model/timetable/TimetableSharePage.tsx
  src/utils/elementImageGenerator.ts
Due: eslint, prettier, tsc

fix: titleとdescriptionを動的メタデータに
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint, prettier, tsc

refactor: HTMLタグを適切なセマンティック要素に変更
  src/components/layout/MainLayout.tsx
  src/components/model/course/CourseItem.tsx
  src/components/model/course/FilterInput.tsx
Due: eslint, prettier, tsc

refactor: MultiSelectコンポーネントのキーボードナビゲーションとセマンティックを改善
  src/components/ui/MultiSelect.tsx
Due: eslint, prettier, tsc

chore: update @opennextjs/cloudflare dependency to version 1.10.1
  package-lock.json
  package.json
Due: none

fix: 不要な旧データ移行処理と選択された学期の管理を削除
  src/contexts/TimetableContext.tsx
Due: eslint, prettier, tsc

refactor: localStorageの操作をZodスキーマで検証するユーティリティ関数に分離
  src/contexts/TimetableContext.tsx
  src/types/course.ts
  src/utils/localStorage.ts
Due: eslint, prettier, tsc

refactor: Add AddToTimetableButtonコンポーネントに分離
  src/components/model/course/AddToTimetableButton.tsx
  src/components/model/course/CourseItem.tsx
Due: eslint, prettier, tsc

chore: valibotをpackageに追加
  package-lock.json
  package.json
Due: none

refactor: zodからvalibotに変更し、不要なnumberEnumを削除
  src/components/model/course/FilterInput.tsx
  src/components/model/timetable/TimetableDisplay.tsx
  src/contexts/TimetableContext.tsx
  src/lib/envValues.ts
  src/services/syllabus/parser.ts
  src/types/course.ts
  src/types/searchOptions.ts
  src/utils/localStorage.ts
  src/utils/numberEnum.ts
Due: eslint, prettier, tsc

chore: drizzle-ormを0.36.0にアップデートし、drizzle-valibotを追加
  package-lock.json
  package.json
Due: none

refactor: drizzle-zodからdrizzle-valibotに変更
  src/drizzle/schema.ts
Due: eslint, prettier, tsc

chore: zod, drizzle-zodをpackageから削除
  package-lock.json
  package.json
Due: none

chore: drizzle-ormを0.36.0から0.44.6にアップデート
  package-lock.json
  package.json
Due: none

chore: drizzle-ormとdrizzle-valibotのバージョンをダウングレード
  package-lock.json
  package.json
Due: none

refactor: runWithConcurrencyLimit関数のResult化
  src/utils/runWithConcurrencyLimit.ts
Due: eslint, prettier, tsc

refactor: シラバス更新処理にResult型を導入し、エラーハンドリングを改善
  src/services/syllabus/getAllSyllabus.ts
  src/services/syllabus/index.ts
  src/workers/custom-worker.ts
Due: eslint, prettier, tsc

feat: キャッシュの自動再検証を無効化し、シラバス更新時にタグを再検証する処理を追加
  src/app/page.tsx
  src/workers/custom-worker.ts
Due: eslint, prettier, tsc

refactor: updateSyllabusRouterのエラーハンドリングをResult型に変更
  src/app/api/[...route]/public/updateSyllabus/index.ts
Due: eslint, prettier, tsc

chore: @libsql/isomorphic-wsパッケージを依存関係から削除
  next.config.mjs
  package-lock.json
  package.json
Due: none

fix: revalidateCoursesエンドポイントを追加し、シラバス更新時の再検証をapiで行うように
  src/app/api/[...route]/public/revalidateCourses/index.ts
  src/app/api/[...route]/route.ts
  src/workers/custom-worker.ts
Due: eslint, prettier, tsc

fix: 公式シラバスのurlに追従
  src/services/syllabus/getAllSyllabus.ts
Due: eslint, prettier, tsc

fix: switchの条件を修正
  src/components/ui/TimetableGrid.tsx
Due: eslint, prettier, tsc

refactor: TimeTablePickerの状態変更関数をonChangeプロパティに統一
  src/components/model/course/FilterInput.tsx
  src/components/ui/TimeTablePicker.tsx
Due: eslint, prettier, tsc

fix: typeOfConductionの条件を修正
  src/components/model/course/FilterInput.tsx
Due: eslint, prettier, tsc

feat: useSearchOptionsフックでの検索オプションの管理をsearchParamsで行うように変更
  src/components/layout/MainLayout.tsx
  src/hooks/useSearchOptions.ts
  src/utils/searchParams.ts
Due: eslint, prettier, tsc

chore: typescriptのバージョンを5.9.3に更新
  package-lock.json
  package.json
Due: none

chore: next, react, honoをnext15に合わせてversionアップデート
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{ts,tsx}
  tsc: any of: *.{ts,tsx}
