Repository imoken777/syllahub: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, tsc

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npm run check:eslint -- --file {staged_files}
    prettier:
      glob: '*.{ts,tsx}'
      run: npx prettier --cache --check {staged_files}
    tsc:
      glob: '*.{ts,tsx}'
      run: npm run check:tsc

chore: next.config.mjsから不要な設定削除
  next.config.mjs
Due: none

chore: tsconfig.jsonでtargetをnext15にあわせてES2017に
  tsconfig.json
Due: none

chore: update drizzle-orm and drizzle-valibot
  package-lock.json
  package.json
Due: none

chore: update devDependencies for eslint
  package-lock.json
  package.json
Due: none

chore: eslint設定をflat config移行して整理
  .eslintrc.js
  eslint.config.js
  lefthook.yml
  package.json
Due: eslint

chore: update prettier
  package-lock.json
  package.json
Due: none

chore: prettier設定を.prettierrcからprettier.config.jsに移行
  .prettierrc
  prettier.config.js
Due: eslint

fix: eslint整備によって気付いた軽微な箇所を修正
  next.config.mjs
  src/app/api/[...route]/public/revalidateCourses/index.ts
  src/app/api/[...route]/public/updateSyllabus/index.ts
  src/app/not-found.tsx
  src/components/model/course/CourseList.tsx
  src/components/model/timetable/TimetableSharePage.tsx
  src/components/ui/Button.tsx
  src/lib/db.ts
  src/services/syllabus/getAllSyllabus.ts
  src/services/syllabus/index.ts
  src/utils/localStorage.ts
  src/utils/runWithConcurrencyLimit.ts
  src/utils/searchParams.ts
  src/workers/custom-worker.ts
  tsconfig.json
Due: eslint, prettier, tsc

refactor: 不要なクライアントチェックを削除
  src/contexts/TimetableContext.tsx
Due: eslint, prettier, tsc

refactor: searchParamsの扱いを見直してserver/clientを適切に
  src/app/page.tsx
  src/components/layout/MainLayout.tsx
  src/components/model/course/FilterInput.tsx
  src/hooks/useSearchOptions.ts
  src/types/searchOptions.ts
Due: eslint, prettier, tsc

chore: update next, react, react-dom 脆弱性対応
  package-lock.json
  package.json
Due: none

chore: npm audit fix
  package-lock.json
Due: none

chore: npm audit fix --force
  drizzle.config.ts
  package-lock.json
  package.json
Due: eslint, prettier, tsc

fix: シラバス取得のページIDを公式に追従
  src/services/syllabus/getAllSyllabus.ts
Due: eslint, prettier, tsc

fix: apiClientの初期化にAPP_ORIGIN_URLを使用するよう修正
  src/workers/custom-worker.ts
Due: eslint, prettier, tsc

refactor: 不要なSVGファイルを削除し、レイアウトのフォント設定を削除
  public/next.svg
  public/vercel.svg
  src/app/layout.tsx
Due: eslint, prettier, tsc

refactor: ダイナミックインポートを使用してTimetableModal、TimetableSharePageを遅延読み込み
  src/components/model/timetable/FloatingTimetableButton.tsx
  src/components/model/timetable/TimetableDisplay.tsx
Due: eslint, prettier, tsc

fix: tsconfig.jsonのターゲットをES2022に更新
  tsconfig.json
Due: none

chore: update @opennextjs/cloudflare
  package-lock.json
  package.json
Due: none

feat: キャッシュをkvからR2に移行
  open-next.config.ts
  wrangler.toml
Due: eslint, prettier, tsc

docs: READMEからバージョン記載を削除
  README.md
Due: none

fix: localStorageからのデータ取得時に空ならnullを返すように修正
  src/contexts/TimetableContext.tsx
  src/utils/localStorage.ts
Due: eslint, prettier, tsc

feat: ページをStatic Renderingに変更。そのためにsearchParamsをクライアントサイドでのみ扱うように変更
  src/app/page.tsx
  src/components/layout/MainLayout.tsx
  src/components/model/course/FilterInput.tsx
  src/components/model/timetable/utils/shareUtils.ts
  src/hooks/useSearchOptions.ts
Due: eslint, prettier, tsc

chore: caniuse-liteのバージョンを1.0.30001760に更新
  package-lock.json
Due: none

feat: revalidateCoursesルーターをrevalidateRootPageルーターに置き換え
  src/app/api/[...route]/public/revalidateCourses/index.ts
  src/app/api/[...route]/public/revalidateRootPageRouter/index.ts
  src/app/api/[...route]/route.ts
  src/workers/custom-worker.ts
Due: eslint, prettier, tsc

chore: update next 脆弱性対応
  package-lock.json
  package.json
Due: none

refactor: MainLayoutの責務を見直して、listをsuspenseするように
  src/components/layout/MainLayout.tsx
  src/components/model/course/CourseList.tsx
Due: eslint, prettier, tsc

refactor: 不要な空の状態表示を削除し、常にTimetableGridを表示するように変更
  src/components/model/timetable/TimetableDisplay.tsx
Due: eslint, prettier, tsc

feat: Viewport設定を追加
  src/app/layout.tsx
Due: eslint, prettier, tsc

chore: `cssnano`をインストールしてpostcss最適化
  package-lock.json
  package.json
  postcss.config.mjs
Due: none

refactor: Badgeコンポーネントスタイル順序修正
  src/components/ui/Badge.tsx
Due: eslint, prettier, tsc

chore: Tailwind CSS設定を最適化し、不要なcssを削減
  tailwind.config.ts
Due: eslint, prettier, tsc

refactor: 不要なCSS変数とスタイルを削除
  src/app/globals.css
Due: none

feat: 各検索ボタンにaria-labelを追加してアクセシビリティを向上
  src/components/model/course/FilterInput.tsx
  src/components/model/timetable/TimetableDisplay.tsx
Due: eslint, prettier, tsc

chore: deploy.ymlにnext/cacheを追加
  .github/workflows/deploy.yml
Due: none
